* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eb3e81;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 45px;
    margin-bottom: 0px;
    
}

::placeholder {
    color: grey;
  }

/* #091723  --> noir

#eb3e81 --> rose

#d89271 --> marron/chair

#e457cb --> fusion marron/rose

*/


.div_form {
    margin-top: 5%;
    margin-left: 5%;
}


.titre_acc {
    color: #eb3e81;
    text-align: left;
    font-size: 50px;
    background-color: #091723;
    padding-left: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
}


input {
    height: 60px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;

    border: 5px solid;
    border-radius: 20px;
    display: block;
    box-sizing: border-box;
    width:50%;
    color: #eb3e81;
    border-color: #091723;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}

select {
    height: 60px;

    padding-left: 1%;
    padding-right: 1%;

    border: 5px solid;
    border-radius: 20px;
    display: block;
    box-sizing: border-box;
    width:50%;
    color: #eb3e81;
    border-color: #091723;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}


textarea {
    height: 200px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;

    border: 5px solid;
    border-radius: 20px;
    display: block;
    width:50%;
    box-sizing:border-box;
    color: #eb3e81;
    border-color: #091723;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}

.submit {
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px solid;
    border-radius: 20px;
    display: block;
    width:50%;  
    box-sizing:border-box;
    color: #eb3e81;
    border-color: #091723;
    margin-top: 30px;
    margin-bottom: 50px;

    font-size: 25px;
    text-align: center;
    font-weight: bold;

}
