* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eb3e81;
    font-family: 'Roboto', sans-serif;
}

a {
    color: white;
    font-size: 20px;
}

.div_titre_acc {
    display: flex;
}

.titre_acc {
    color: #eb3e81;
    text-align: left;
    font-size: 50px;
    background-color: #091723;
    padding-left: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    display: inline;
    width: 90%;
}

.login {
    width: 10%;
    display: inline;
    text-align: right;
    color: #eb3e81;
    background-color: #091723;
    font-size: 40px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
}


.h1_title_offer {
    margin-top: 3%;
    margin-left: 3%;
    font-size: 45px;
}

h2 {
    margin-left: 3%;
    font-size: 35px;
    margin-bottom: 2%;
}

h3 {
    margin-left: 3%;
    font-size: 20px;
    margin-top: 0px;
}

h4 {
    margin-left: 3%;
    font-size: 20px;
    margin-top: 0px;
}

#part_text {
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 20%;
    margin-bottom: 2%;
}

#text_full {
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 20%;
    margin-bottom: 2%;
}

#toggle_see {
    margin-left: 3%;
    height: 40px;
    border: 5px solid;
    border-radius: 15px;
    width:7%;
    color: #eb3e81;
    border-color: #091723;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#apply_button {
    margin-left: 1%;
    height: 40px;
    border: 5px solid;
    border-radius: 15px;
    width:7%;
    color: #eb3e81;
    border-color: #091723;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#prev {
    margin-top: 2%;
    margin-left: 3%;
    height: 40px;
    border: 5px solid;
    border-radius: 15px;
    width:7%;
    color: #eb3e81;
    border-color: #091723;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#next {
    margin-left: 1%;
    height: 40px;
    border: 5px solid;
    border-radius: 15px;
    width:7%;
    color: #eb3e81;
    border-color: #091723;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}